<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- 配置DispatcherServlet拦截规则 -->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.leyou.servlet.MyDispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <!-- 配置spring-mvc.xml的配置路径-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>spring-mvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>
        